<% provide(:title, "Top") %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="top-page">TaskApp</h1>
      <div class="sample">
        <p>TaskAppは簡易ToDo管理ツールです。</p>
        <p>↓↓初めてのご利用↓↓</p>
      </div>
      <div class="button1">
        <%= link_to "アカウント作成", new_user_path, class: "btn btn-lg btn-success" %>
      </div>
      <div class="center">
        <%= link_to "ゲストログイン(管理権限)", "#" , class: "btn btn-default btn-danger" %>
        <%= link_to "ゲストログイン(一般権限)", "#" , class: "btn btn-default btn-warning" %>
      </div>
      
    </div>
    <div class="col-md-6">
      <h2>ログイン</h2> 
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
      
            <%= f.label :email, class: "label-login" %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label :password, class: "label-login" %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
              <%= f.check_box :remember_me, id: "remember-me" %>
              <span>ログイン情報を記憶する</span>
            <% end %>
      
            <%= f.submit "Log In", class: "btn btn-primary btn-block btn-login" %>
          <% end %>
          <!--<p>-->
          <!--  ユーザー登録がまだの場合は<%= link_to "こちら", signup_path %>-->
          <!--</p>-->
        </div>
      </div>      
            
          </div>
      </div>
</div>
