<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>プロフィール</h1>
    <table class="table table-hover table-bordered" id="table-user">
        <tr>
          <th><%= User.human_attribute_name :id %></th>
          <td><%= @user.id %></td>
        </tr>
        
        <tr>
          <th><%= User.human_attribute_name :name %></th>
          <td><%= @user.name %></td>
        </tr>
        
        <tr>
          <th><%= User.human_attribute_name :email %></th>
          <td><%= @user.email %></td>
        </tr>
        
        <tr>
          <th><%= User.human_attribute_name :created_at %></th>
          <td><%= @user.created_at %></td>
        </tr>
          
    </table>
  </div>    
</div>
